<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta charset="UTF-8">
	<title>Poolio</title>
</head>

<body>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/new-game">New Game</a></li>
		<li><a href="/leaderboard">Leaderboard</a></li>
	</ul>

	{% block body %}{% endblock %}

</body>

</html>