{% extends '_layout.twig' %}

{% block body %}

	<div class="pi-players">

		{% for player in players %}
			<div class="pi-player">
				<h3>Player {{ loop.index }}</h3>
				{{ player }}
				<a href="/players/score/{{player}}" class="pi-btn">Winner</a>
			</div>
		{% endfor %}

	</div>
	
{% endblock %}