{% extends '_layout.twig' %}

{% block body %}

	{% if players %}

		<h3>Select players</h3>

		<form action="/game/start" method="POST" class="pi-form--game-start">
			
				<ul class="players">
					{% for player in players %}
						<li>
							<input type="checkbox" id="{{ player|replace({' ', '-'}) }}" value="{{ player }}" name="players">
							<label for="{{ player|replace({' ', '-'}) }}">{{ player }}</label>
						</li>
					{% endfor %}
				</ul>

			<button type="submit" class="pi-btn" disabled>Start Game</button>

		</form>
			
	{% endif %}

	<h3>Add a player</h3>

	<form action="/players/add" method="POST" class="pi-form--add-player">

		<input type="text" placeholder="Player Name" name="name">
		<button type="submit" class="pi-btn">Add Player</button>

	</form>

{% endblock %}