{% extends '_layout.twig' %}

{% block body %}

    <h2>Add a new player</h2>

    <form action="/players/add" method="POST">
        
        <input type="text" placeholder="Player Name" name="name">
        <button type="submit">Add Player</button>

    </form>

{% endblock %}