{% extends './_layout.twig' %}

{% block body %}

    <div class="pi-home">

        <p>We track pool games with Poolio. Care to challenge someone?</p>

        <a href="/new-game" class="pi-btn">Start a new Game</a>
        <a href="/leaderboard" class="pi-btn">View the Leaderboard</a>

    </div>

{% endblock %}