{% extends '_layout.twig' %}

{% block body %}

    {% if leaders %}

        <ol class="pi-leaderboard-list">

            {% for player in leaders %}
                <li>{{ player }}</li>
            {% endfor %}

        </ol>

    {% endif %}

{% endblock %}